/*Importando fontes*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); /**/
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Cormorant+Garamond&family=Fredoka+One&family=PT+Sans+Narrow&family=Press+Start+2P&family=Reem+Kufi+Fun&family=Rubik+Mono+One&family=Signika+Negative&family=Source+Code+Pro:ital@0;1&family=Space+Mono:ital@0;1&family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/*
font-family: 'Comfortaa', cursive;
font-family: 'Cormorant Garamond', serif;
font-family: 'Fredoka One', cursive;
font-family: 'Press Start 2P', cursive;
font-family: 'PT Sans Narrow', sans-serif;
font-family: 'Reem Kufi Fun', sans-serif;
font-family: 'Rubik Mono One', sans-serif;
font-family: 'Signika Negative', sans-serif;
font-family: 'Source Code Pro', monospace;
font-family: 'Space Mono', monospace;
font-family: 'Teko', sans-serif;
font-family: 'Cinzel', serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
*/
/*Cores*/
:root{
    --branco: #fff;
    --sec-color: #230769;
    --cor-borda: rgb(53, 56, 207);
}

*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(rgb(174, 225, 255), rgb(31, 93, 129), rgb(17, 148, 126));
    background-repeat: no-repeat;
    backdrop-filter: blur(40px);
    height: 13000px;
}

/*Cabeçalho*/
header{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding-bottom: 100px;
    font-family: 'poppins';
}

header div div#PRH{
    margin-bottom: 400px;
}

header div{
    position: relative;
    top: 70px;
    display: flex;
    align-items: center;
    align-content: space-around;
    justify-content: space-around;
    flex-direction: column;
}

header div ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

header div ul li{
    list-style: none;
    margin-left: 20px;
}

header div ul li a{
    text-decoration: none;
    padding: 6px 15px;
    border-radius: 20px;
    font-size: 1.3em;
}

header div ul li a:hover,
header div ul li a.ON {
    transition: .6s;
    background-color: rgb(22, 23, 97);
    color: var(--branco);

}

/*desenvolvedores*/
.dev1,
.dev2,
.dev3,
.dev4,
.dev5{
    padding: 50px;
    margin: 20px;
    width: 200px;

    border: 15px solid rgb(54, 60, 61);
    background-color: #f5f5f5;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}

.dev1 h3,
.dev2 h3,
.dev3 h3,
.dev4 h3,
.dev5 h3
{
    font-family: 'poppins';
}

.dev1 .textSobre,
.dev2 .textSobre,
.dev3 .textSobre,
.dev4 .textSobre,
.dev5 .textSobre
{
    font-size: 20px;
}

.sobreMim1 .textSobre,
.sobreMim2 .textSobre,
.sobreMim3 .textSobre,
.sobreMim4 .textSobre,
.sobreMim5 .textSobre
{
    font-size: 20px;
}

.hover1,
.hover2,
.hover3,
.hover4,
.hover5{
    color: rgb(228, 118, 118);
    font-size: 0.8em;
}

.hover1.active,
.hover2.active,
.hover3.active,
.hover4.active,
.hover5.active{
    display: none;
}

.sobreMim1,
.sobreMim2,
.sobreMim3,
.sobreMim4,
.sobreMim5{
    display: none;
}

.sobreMim1.active,
.sobreMim2.active,
.sobreMim3.active,
.sobreMim4.active,
.sobreMim5.active{
    display: inline-block;
}


.dev1:hover,
.dev2:hover,
.dev3:hover,
.dev4:hover,
.dev5:hover{
    transition: .6s;
    transform: scale(1.1);
}

.dev1.active,
.dev2.active,
.dev3.active,
.dev4.active,
.dev5.active{
    width: 800px;
}

.dev1 .sobreMim1 img,
.dev2 .sobreMim2 img,
.dev3 .sobreMim3 img,
.dev4 .sobreMim4 img,
.dev5 .sobreMim5 img{
    height: 310px;
    border: 3px solid var(--cor-borda);
    border-radius: 20px;
}

main div{
    font-family: 'Poppins';
}

/*Formatação da página*/
#PRH{
    padding-top: 100px;
}
.sexuada{
    display: flex;
    align-items: center;
    align-content: space-around;
    justify-content: space-around;
    flex-direction: row;
}
.sexuada div{
    display: flex;
    align-items: center;
    align-content: space-around;
    justify-content: space-around;
    flex-direction: column;
    padding: 100px;
    max-width: 1000px;
}

.meiose{
    display: flex;
    align-items: center;
    align-content: space-around;
    justify-content: space-around;
    flex-direction: row;
}
.meiose div{
    display: flex;
    align-items: center;
    align-content: space-around;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    max-width: 1000px;
}

.assexuada{
    display: flex;
    align-items: center;
    align-content: space-around;
    justify-content: space-around;
    flex-direction: row;
}
.muitadivpqp{
    display: flex;
    align-items: center;
    align-content: space-around;
    justify-content: space-around;
    flex-direction: column;
}
.muitadivpqp div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    align-content: space-around;
    padding: 10px;
    max-width: 1400px;
}
.bacterias{
    border-radius: 900px;
    width: 700px;
}
.puberdade{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    justify-content: space-around;
}
.puberdade div{
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    justify-content: space-around;
}
.puberdade div div{
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-around;
    justify-content: space-around;
}
.puberdade div div p{
    padding: 10px;
    max-width: 1000px;
}
.puberdade div div center p{
    padding: 10px;
    max-width: 1000px;
}
li{
    list-style-type: none;
    max-width: auto;
    font-size: 25px;
}
.ulul{
    border: .4px solid white;
    border-radius: 20px;
}
.pubmasc{

    border-radius: 10px;
}
.menstruacao{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    justify-content: space-around;
}
.cilcomenstrual{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    justify-content: space-around;
}
.cilcomenstrual p{
    padding: 10px;
    max-width: 1500px;
}
.cilcomenstrual img{
    padding: 10px;
    border-radius: 100px;
}
.fases{
    align-items: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-around;
}
.fases img{
    width: 1000px;
}
.fases div div h3{
    padding: 20px;
    border  : white .4px solid;
    border-radius: 20px;
}
.fases div div{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    justify-content: space-around;
}
.parto{
    align-items: center;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-around;
}
.parto div  {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    justify-content: space-around;
}
.parto div div{
    gap: 70px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-around;
    justify-content: space-around;
}
.periodos{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    justify-content: space-around;
}
.periodos div div{
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-around;
    justify-content: space-around;
}
.periodos div div div h3{
    padding: 20px;
    border-right: .4px white double;
}
.gemeos div div img{
    border-radius: 40px;
}
.gemeos{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
}
.gemeos div{
    display: flex;
    align-items: center;
    align-content: space-around;
    justify-content: space-around;
    flex-direction: row;
}
.gemeos div div{
    padding: 10px;
    display: flex;
    align-items: center;
    align-content: space-around;
    justify-content: space-around;
    flex-direction: column;
}
.foda{
    bottom: 0px;
    padding: 150px;
}
.parapara{
    border-width: 10px;
    padding: 10px;
    border-bottom: solid .4px white;
}


/*ANIMAÇÂO (NÂO ME PERGUNTA O QUE EU FIZ)*/
.waveTextAnimated {
    display: flex;
    flex-direction: row;
    font-size: 80px;
}
.waveTextAnimated span {
    display: inline-block;
    -webkit-animation: wave-text 1s ease-in-out infinite;
    animation: wave-text 1s ease-in-out infinite;
}
.waveTextAnimated span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
  }
.waveTextAnimated span:nth-of-type(2) {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s;
  }
.waveTextAnimated span:nth-of-type(3) {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
  }
.waveTextAnimated span:nth-of-type(4) {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }
.waveTextAnimated span:nth-of-type(5) {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
  }
.waveTextAnimated span:nth-of-type(6) {
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
  }
.waveTextAnimated span:nth-of-type(7) {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
  }
.waveTextAnimated span:nth-of-type(8) {
    -webkit-animation-delay: 0.7s;
            animation-delay: 0.7s;
  }
@-webkit-keyframes wave-text {
    00% {
      transform: translateY(0em);
    }
    60% {
      transform: translateY(-0.6em);
    }
    100% {
      transform: translateY(0em);
    }
  }
   
@keyframes wave-text {
    00% {
      transform: translateY(0em);
    }
    60% {
      transform: translateY(-0.6em);
    }
    100% {
      transform: translateY(0em);
    }
}

[data-anime] {
    opacity: 0;
    transition: .3s;
}
  
[data-anime="left"] {
    transform: translate3d(-50px, 0, 0);
}
  
[data-anime="right"] {
    transform: translate3d(50px, 0, 0);
}
  
[data-anime="top"] {
    transform: translate3d(0, -50px, 0);
}

[data-anime="bottom"] {
    transform: translate3d(0, 50px, 0);
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

/*FORMATAÇÂO DAS PRINCIPAIS CLASSES INDEPENDENTES*/
h1{
    font-size: 80px;
}
h2{
    font-family: 'Comfortaa';
    font-size: 40px;
}
h3{
    font-family: 'Comfortaa';
    font-size: 30px;
}
p{
    font-family: 'Comfortaa';
    font-size: 35px;
}
#BIO{
    border-bottom: 2px solid white;
}