/*Importando fontes*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*Cores*/
:root{
    --branco: #fff;
    --sec-color: #230769;
    --background-color: rgb(53, 56, 207);
}

/*Zerando asformatações*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body{
    background-color: var(--background-color);
}

/*Cabeçalho*/
header{
    top: 0;
    left: 0;
    

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 100px;
}

header .logo{
    color: var(--branco);
    font-weight: 700;
    font-size: 2em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    list-style: none;
    margin-left: 20px;
}

header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: var(--branco);
    border-radius: 20px;
}

header ul li a:hover,
header ul li a.ON {
    transition: .6s;
    background-color: var(--branco);
    color: rgb(22, 23, 97);

}

/*Portifólio*/
.sec{
    padding: 100px;
    background-color: var(--sec-color);
}

.sec h2{
    margin-bottom: 40px;
    font-size: 2em;
    color: var(--branco);
}

.sec p{
    font-size: 1em;
    color: var(--branco);
    
}

/*desenvolvedores*/
.dev1,
.dev2,
.dev3,
.dev4,
.dev5{
    padding: 50px;
    margin: 20px;
    width: 350px;

    border: 15px solid rgb(54, 60, 61);
    background-color: #f5f5f5;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.hover1,
.hover2,
.hover3,
.hover4,
.hover5{
    color: rgb(228, 118, 118);
    font-size: 0.8em;
}

.hover1.active,
.hover2.active,
.hover3.active,
.hover4.active,
.hover5.active{
    display: none;
}

.sobreMim1,
.sobreMim2,
.sobreMim3,
.sobreMim4,
.sobreMim5{
    display: none;
}

.sobreMim1.active,
.sobreMim2.active,
.sobreMim3.active,
.sobreMim4.active,
.sobreMim5.active{
    display: inline-block;
}


.dev1:hover,
.dev2:hover,
.dev3:hover,
.dev4:hover,
.dev5:hover{
    transition: .6s;
    transform: scale(1.1);
}

.dev1.active,
.dev2.active,
.dev3.active,
.dev4.active,
.dev5.active{
    width: 900px;
}

.dev1 .sobreMim1 img,
.dev2 .sobreMim2 img,
.dev3 .sobreMim3 img,
.dev4 .sobreMim4 img,
.dev5 .sobreMim5 img{
    height: 310px;
    border: 3px solid var(--background-color);
    border-radius: 20px;
}