/*Importando fontes*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*Cores*/
:root{
    --branco: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body{
    min-height: 100vh;
    background: linear-gradient(rgb(53, 56, 207), rgb(22, 23, 97));
}

/*Cabeçalho*/
iframe#menu{
    width: 100%;
    z-index: 10;
}